/* Configurações gerais */
body {
    background-color: #897098;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .logo {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
  }
  .search-bar-container {
    position: fixed;  /* Mantém a barra de pesquisa fixa no topo */
    top: 10px;        /* Ajuste este valor para a altura desejada */
    left: 50%;        /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;      /* Para garantir que ocupe toda a largura */
    padding: 10px;    /* Adiciona espaçamento */
}

.search-bar-container {
  position: fixed;  
  top: 10px;        
  left: 50%;        
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;      
  padding: 10px;    
  z-index: 1000; /* Garante que a barra de pesquisa esteja acima de outros elementos */
}


.search-bar {
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  border-radius: 25px; /* Arredondamento das bordas */
  overflow: hidden;
  border: 1px solid #cbc1d2; /* Borda da barra de pesquisa */
  background-color: #cbc1d2; /* Altere para a cor desejada */
  color: black;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none; /* Remova a borda padrão do input */
  font-size: 16px;
  background-color: transparent; /* Para que o fundo do input seja transparente */
}

.search-icon {
  padding: 10px;
  background-color: #36164d; /* Cor de fundo do ícone */
  cursor: pointer;
}

.search-icon img {
  width: 20px;
  height: 20px;
}

  /* Menu Sanduíche */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 200px; /* Espaço de 50px a partir do topo */
  }
  
  .menu-btn {
    font-size: 24px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Menu escondido por padrão */
    overflow: hidden;
    transition: max-height 0.3s ease; /* Transição para abrir suavemente */
    max-height: 0; /* Altura inicial zero para animação */
  }
  
  .menu-list.open {
    display: block;
    max-height: 300px; /* Define uma altura máxima quando aberto (ajuste conforme necessário) */
  }
  
  .menu-list li {
    padding: 10px;
    text-align: left;
  }
  
  .menu-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .menu-list img {
    width: 20px;
    height: 20px;
  }

  .carrossel {
    position: relative;
    padding: 100px;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.imagens {
    display: flex;
    transition: transform 0.5s ease;
}

.imagem {
    min-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .carrossel {
        max-width: 100%;
    }
}